#mediauploader {
    width: 100%;
    height:350px;
    background: red;
}

.box{
    width: 100%;
    height: 350px;
    background: #e4e4e4;
    text-align: center;
    padding: 20px;
}

.dropzone{
    width: 100%;
    height: 260px;
    background: #c7c7c7;
    padding: 15px;
    border: 2px solid #888888;
    border-style: dashed;
}